
@{
    ViewBag.Title = "Index";
}

<h2>My Lists</h2>
<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-left">Title</th>
                    <th class="text-left">Created</th>
                    <th class="text-left">Items</th>
                    <th class="text-left">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr><td>Daddy's Birthday</td><td>Monday June 11, 2016</td><td>1</td><td><a>View</a> | <a>Delete</a></td></tr>
                <tr><td>Grocery Store</td><td>Wednesday June 13, 2016</td><td>1</td><td><a>View</a> | <a>Delete</a></td></tr>
                </tbody>
            </table>
        </div>
    </div><!-- end of col -->
    <div class="col-md-6">
        @*New List : Hidden on small screen replaced with button to create page*@
        <div id="notepad" style="min-height: 150px;">
            @*<p class="paper">My List<br/><br/>Make my bed<br/>Brush my teeth
            </p>*@
            <input type="text" class="form-control title" placeholder="Title"/>
            <div class="input-group">
                <input type="text" class="form-control item" placeholder="Todo" />
            </div>
            
            
        </div>
       
    </div>
</div><!-- end of row -->
